@media only screen and (max-width: 595px) {
  .App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
  .App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
  .App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .todos {
  }
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
}
